<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>Araify "helping you connect with your eating habits, naturally"</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>Araify</a></h1>
      <nav>
        <ul><li><a href='#about'>About</a></li></ul>
      </nav>
    </header>
    <div class='master-container'>
      <div class='left-column'><img
          src='/images/hero.png'
          alt='#'
          width='100%'
        /></div>
      <div class='right-column'>
        <h2>Track eating habits, <br /> without any fuss.</h2>
        <h3><span>Araify</span>
          is a tool to help you track & learn about
          <br />
          the food you eat in life.</h3>
        {{{body}}}
      </div>

    </div>
    {{! <p class='footer'>EDA<span class='hearts'> &hearts;</span> Wellington</p> }}
  </body>
</html>