* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: white;
}

.hearts {
  color: tomato;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #4507b2;
  color: white;
}

header {
  height: 10vh;
  line-height: 10vh;
}
header h1 a {
  color: #f6ee7c;
}
header h1 {
  float: left;
  line-height: 10vh;
  margin-left: 2.5vw;
  font-size: 18px;
  color: #f6ee7c !important;
}

header nav a {
  color: #afafaf;
  font-weight: bold;
}
header nav {
  float: left;
  height: 10vh;
  margin-left: 2.5vw;
  font-size: 14px;
}

.master-container {
  height: 90vh;
}

.left-column {
  width: 50vw;
  height: 100%;
  float: left;
}

.right-column h2 {
  margin-top: 20px;
  font-size: 80px;
  letter-spacing: 1px;
  text-shadow: #ccc 2px 1px 1px;
  line-height: 100px;
}

.right-column h3 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 24px;
  color: #eeeeee;
  letter-spacing: 2px;
}

.right-column h3 span {
  font-weight: bold;
}

.right-column {
  float: left;
  width: 50vw;
  height: 100%;
  background-image: url('/images/right-column-texture.png');
  background-position: left;
}

.form-container {
  background-color: white;
  width: 26vw;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 16px;
  height: 44vh;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.4);
}

.form-container form {
  float: left;
}

.form-container h4 {
  color: black;
  font-size: 32px;
  margin-top: 60px !important;
  float: left;
  margin-left: 60px;
}

.form-container label,
.nutri-label {
  color: black;
  display: block;
  clear: left;
  margin-left: 60px;
  font-weight: bold;
  margin-top: 20px;
}

.form-container input,
.nutri-box {
  display: block;
  float: left;
  border: none;
  height: 40px;
  border: #ccc solid 1px;
  border-radius: 8px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-indent: 20px;
  width: 200px;
}

.form-container select {
  float: left;
  border: none;
  height: 40px;
  background-color: #eee;
  margin-top: 10px;
  padding: 0 10px;
}
#add-entry {
  width: 120px;
  height: 60px;
  text-indent: 0px;
  background-color: #4507b2 !important;
  color: white;
  font-weight: bold;
  text-align: center;
  box-sizing: #ccc 3px 1px 1px;
  margin-top: 10px !important;
  margin-right: 20px !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

#add-entry:hover {
  cursor: pointer;
  background-color: #6913ff !important;
}

/* .footer {
  text-align: center;
  float: left;
} */

.nutri-container {
  width: 66vw;
  margin: 0 auto;
}

.nutri-container h4 {
  line-height: 10vh;
  margin-left: 2.5vw;
  font-size: 72px;
  color: white;
  text-align: center;
}

.nutri-box {
  margin-top: 80px;
  text-indent: 0px;
  text-align: center;
  line-height: 40px;
  background-color: #f6ee7c;
  color: #6913ff;
  font-weight: bold;
  letter-spacing: 1px;
}

.cake {
  display: block;
  clear: both;
  margin-left: 400px;
}
.enjoy {
  clear: both;
  float: none;
  text-align: center;

  height: 60px;
  width: 200px;
  line-height: 60px;

  font-weight: bold;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 80px !important;
}
